.content {
  background-color: #eee;
  border-radius: 10px 10px 0 0;
}

.footer {
  background-color: #eee;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 4px;
}

.hover-hand:hover {
  cursor: pointer; 
  cursor: hand;
}

.hidden {
  display: none;
}

.as-link {
  text-decoration: underline;
}

.as-link:hover {
  cursor: pointer; 
  cursor: hand;
}

.as-inline {
  display:inline;
}

.left-pad {
  padding-left: 20px;
}

.left-margin {
  margin-left: 10px;
}

.sm-text {
  font-size: .5em;
}

@media only screen 
  and (min-device-width: 768px) {
  margin-top: 40px;
}
